table{background-color:rgb(62, 62, 188) ;}
a{color:rgb(221, 244, 11);}
h1{color:rgb(221, 244, 11);
background: #2c045e;}
h2{color:rgb(221, 244, 11);}
hr{color: azure;}
ul{color:rgb(221, 244, 11);}
td{color:rgb(221, 244, 11);}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  body{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
body{background: url(https://img.pikbest.com/ai/illus_our/20230428/ecff7b612a74d157a8594109cd82e8f6.jpg!w700wp);}